<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServiceSQLConnection" value="Data Source=localhost; Initial Catalog=MinuteTraqService; Persist Security Info=False; Workstation ID=SERVER; Packet Size=4096; Pooling=true; Application Name='MinuteTraq Service 6.2'; Integrated Security=SSPI;" />
    <add key="SourceAgency" value="PastoreVM"/>
  </appSettings>
</configuration>